@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>Almost ready</h2>

Soon you will receive a mail to @ViewData["email"]<br>
To confirm that this email is belong to you, please follow the url specified inside the mail.

